*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal{
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
}
.modal .title{
    text-align: center;
    margin-bottom: 40px;
}
.modal .title a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}
.modal .title span{
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}
.modal .title a:last-of-type{
    color: #46a358;
}
.text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
input{
    width: 300px;
    height: 40px;
    margin-bottom: 12px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding-top: 12px;
    padding-left: 14px;
    padding-bottom: 12px;
}

button{
    width: 300px;
    height: 45px;
    background-color: #46a358;
    border-radius: 5px;
    border: none;
    margin-bottom: 36px;
    margin-top: 29px;
}
button span{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.align-cent{
    text-align: center;
}
.mrg-left{
    margin-left: 100px;
}
.social-links{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    margin-top: 13px;
}
.social-links a{
    text-decoration: none;
}
.social-links img{
    padding-top: 10px;
    padding-right: 10px;
}
.social-links span{
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
}
.green-background{
    background-color: #46a358;
    height: 10px;
    margin-top: 40px;
}